.header {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 47px 91px 0 148px;
  background-image: url(../images/header-decore.png);
  background-repeat: no-repeat;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav__logo {
  display: block;
  width: 115px;
}
.top-nav__logo-image {
  width: 100%;
}

.top-nav__menu {
  display: flex;
  align-items: center;
  gap: 68px;
}

.top-nav__menu-list {
  display: flex;
  gap: 60px;
  list-style: none;
}

.top-nav__menu-list-item {
  font-weight: 500;
  font-size: 17px;
}

.top-nav__menu-link {
  color: #212832;
  text-decoration: none;
}

.top-nav__button {
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 9px 21px;
  font-size: 17px;
  background-color: transparent;
}

.top-nav__button:hover {
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.2);
  cursor: grab;
}

.top-nav__select {
  border: none;
  background-color: transparent;
}

.top-nav__select:focus {
  outline: none;
}

.top-nav__select:focus-visible {
  border: 1px solid #000;
  padding: 9px 21px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 112px 653px 117px 0;
  background-image: url(../images/traveller.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.description__tagline {
  color: #df6951;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.description__heading {
  position: relative;
  color: #181e4b;
  font-family: Volkhov;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -4px;
}

.accent {
  position: absolute;
  top: 69px;
  left: 243px;
  z-index: -1;
  width: 385px;
  height: 12px;
  background-image: url(../images/shadow.svg);
  background-repeat: no-repeat;
}

.description__text {
  max-width: 447px;
  color: #5e6282;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.description__buttons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 379px;
  list-style: none;
}

.description__button-item {
  width: 170px;
}

.description__button {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  cursor: grab;
}

.description__button_more {
  border: none;
  border-radius: 10px;
  padding: 18px 26px;
  color: #fff;
  background-color: #f1a501;
}

.description__button_more:hover,
.description__button_more:active {
  box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.2);
}

.description__button_demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.description__button-image {
  width: 52px;
  border-radius: 50%;
}

.description__button-image:hover,
.description__button-image:active {
  box-shadow: 0 15px 30px 0 rgba(223, 105, 81, 0.2);
}

.services {
  padding: 97px 58px 123px 154px;
}

.subheading {
  color: #5e6282;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.subheading_center {
  text-align: center;
}

.heading {
  color: #14183e;
  font-family: Volkhov, serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
}

.heading_center {
  margin-top: 10px;
  text-align: center;
}

.services {
  background-image: url(../images/services-stars.png);
  background-repeat: no-repeat;
  background-position: top 97px right 58px;
  background-size: 153px, auto, contain;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 65px;
  padding-right: 100px;
  list-style: none;
}

.services__item {
  position: relative;
  border-radius: 36px;
  text-align: center;
}

.services__link {
  display: block;
  padding: 0 37px 45px 37px;
  text-decoration: none;
}

.services__link:active, 
.services__link:hover {
  border-radius: 36px;
  box-shadow: 
    0 1.85px 3.15px 0 rgba(0, 0, 0, 0.1),
    0 8.15px 6.52px 0 rgba(0, 0, 0, 0.1),
    0 20px 13px 0 rgba(0, 0, 0, 0.1),
    0 38.52px 25.48px 0 rgba(0, 0, 0, 0.1),
    0 64.81px 46.85px 0 rgba(0, 0, 0, 0.1),
    0 100px 80px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.services__link:active::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: -35px;
  z-index: -1;
  width: 100px;
  height: 100px;
  border-radius: 30px 0 10px;
  background-color: #df6951;
}

.services__item-image {
  height: 167px;
  background-repeat: no-repeat;
  background-position: center;
}

.services__item-image_weather {
  background-image: url(../images/weather.png);
  background-size: 92px;
}

.services__item-image_flights {
  background-image: url(../images/flights.png);
  background-size: 167px;
}

.services__item-image_events {
  background-image: url(../images/events.png);
  background-size: 67px;
}

.services__item-image_customization {
  background-image: url(../images/customization.png);
  background-size: 77px;
}

.services__item-heading {
  color: #1e1d4c;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.24px;
}

.services__item-text {
  width: 190px;
  margin: 15px auto 0;
  color: #5e6282;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.destinations {
  padding: 0 165px 186px 173px;
}

.destinations__list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-right: 62px;
  list-style-type: none;
  background-image: url(../images/destinations-decore.svg);
  background-repeat: no-repeat;
  background-position: bottom 47px right;
}

.destinations__item {
  position: relative;
  width: 314px;
  height: 457px;
  border: 1px solid #e4e4e4;
  border-radius: 24px;
  background-position: -80px -2px;
}

.destinations__item:hover,
.destinations__item:active {
  border: none;
  box-shadow: 
    0 1.85px 3.15px 0 rgba(0, 0, 0, 0.1),
    0 8.15px 6.52px 0 rgba(0, 0, 0, 0.1),
    0 20px 13px 0 rgba(0, 0, 0, 0.1),
    0 38.52px 25.48px 0 rgba(0, 0, 0, 0.1),
    0 64.81px 46.85px 0 rgba(0, 0, 0, 0.1),
    0 100px 80px 0 rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.destinations__item_Rome {
  background-image: url(../images/Rome.jpg);
}

.destinations__item_London {
  background-image: url(../images/London.jpg);
}

.destinations__item_Europe {
  background-image: url(../images/Europe.jpg);
}

.destinations__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  border-radius: 0 0 24px 24px;
  padding: 27px 25px 42px 20px;
  color: #5e6282;
  background-color: #fff;
}

.destinations__description {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.41px;
}

.destinations__duration {
  display: flex;
  gap: 14px;
  margin-top: 19px;
  font-size: 16px;
  line-height: 20px;
}

.destinations__duration::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/navigation.svg);
}

.book-a-trip {
  display: flex;
  justify-content: space-between;
  padding: 0 140px 200px 186px;
}

.book-a-trip__left-column {
  max-width: 511px;
}

.heading_in-book-a-trip {
  margin-top: 15px;
  margin-bottom: 31px;
}

.book-a-trip__steps {
  display: flex;
  flex-direction: column;
  gap: 39px;
  list-style: none;
}

.book-a-trip__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 395px;
  color: #5e6282;
  font-size: 16px;
  line-height: 19.92px;
}

.book-a-trip__step::before {
  content: "";
  display: block;
  width: 47px;
  height: 48px;
  border-radius: 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.book-a-trip__step-info {
  max-width: 327px;
}

.book-a-trip__step_image-choose::before {
  background-color: #f0bb1f;
  background-image: url(../images/choose-destination.png);
}

.book-a-trip__step_image-make::before {
  background-color: #f15a2b;
  background-image: url(../images/make-payment.png);
}

.book-a-trip__step_image-reach::before {
  background-color: #006380;
  background-image: url(../images/reach-airport.png);
}

.book-a-trip__step-heading {
  font-weight: 700;
}

.book-a-trip__step-text {
  margin-top: 4px;
}

.book-a-trip__right-column {
  position: relative;
  max-width: 485px;
  padding: 76px 115px 16px 0;
}

.book-a-trip__card {
  border-radius: 26px;
  padding: 20px 24px 31px 25px;
  box-shadow: 44px -59px 150px rgba(89, 177, 230, 0.35);
  font-weight: 500;
  line-height: 1.24;
  background-color: #fff;
}

.book-a-trip__card-heading {
  margin-top: 26px;
  margin-bottom: 13px;
  color: #080809;
  font-size: 18px;
  letter-spacing: 1.5;
}

.book-a-trip__card-info {
  display: flex;
  gap: 10px;
  color: #84829a;
  font-size: 16px;
}

.book-a-trip__card-date {
  border-right: 1px solid #84829a;
  padding: 1px 3px 1px 0;
}

.book-a-trip__card-options {
  display: flex;
  gap: 15px;
  margin-top: 21px;
  margin-bottom: 29px;
  list-style-type: none;
}

.book-a-trip__card-option {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center;
}

.book-a-trip__card-option_leaf {
  background-image: url(../images/leaf.png);
}

.book-a-trip__card-option_map {
  background-image: url(../images/map.png);
}

.book-a-trip__card-option_send {
  background-image: url(../images/send.png);
}

.book-a-trip__card-quantity {
  display: flex;
  align-items: center;
  color: #84829a;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.24;
}

.book-a-trip__card-quantity::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 15px;
  background-image: url(../images/building.png);
}

.book-a-trip__card-quantity::after {
  content: '';
  display: block;
  width: 20px;
  height: 18px;
  margin-left: 135px;
  background-image: url(../images/heart.png);
}

.book-a-trip__card-quantity:hover + .book-a-trip__tooltip {
  display: flex;
}

.book-a-trip__tooltip {
  position: absolute;
  right: 0;
  bottom: 68px;
  display: none;
  gap: 11px;
  width: 263px;
  border-radius: 18px;
  padding: 16px 25px 22px 20px;
  box-shadow: 
    0 1.85px 3.15px 0 rgba(0, 0, 0, 0.1),
    0 8.15px 6.52px 0 rgba(0, 0, 0, 0.1),
    0 20px 13px 0 rgba(0, 0, 0, 0.1),
    0 38.52px 25.48px 0 rgba(0, 0, 0, 0.1),
    0 64.81px 46.85px 0 rgba(0, 0, 0, 0.1),
    0 100px 80px 0 rgba(0, 0, 0, 0.1);
  font-weight: 500;
  line-height: 1.24;
  background-color: #fff;
}

.book-a-trip__tooltip::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../images/Rome.png);
  background-repeat: no-repeat;
  background-position: center;
}

.book-a-trip__tooltip-topic {
  color: #84829a;
  font-size: 14px;
}

.book-a-trip__tooltip-heading {
  margin-top: 6px;
  margin-bottom: 14px;
  color: #080809;
  font-size: 18px;
}

.book-a-trip__tooltip-value {
  color: #080809;
  font-size: 14px;
}

.book-a-trip__tooltip-value_accent {
  color: #8a79df;
}

input[type='range'] {
  width: 156px;
  overflow: hidden;
  background-color: #f5f5f5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='range']:hover {
  cursor: pointer;
}

input[type='range']:focus {
  outline: 1px solid #000;
  outline-offset: 2px;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 156px;
  height: 5px;
  border: none;
  border-radius: 30px;
  background-color: #f5f5f5;
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  width: 156px;
  height: 5px;
  border: none;
  border-radius: 30px;
  background-color: #f5f5f5;
  cursor: pointer;
}

input[type="range"]::-ms-fill-upper {
  border-radius: 30px;
  background-color: #f5f5f5;
}

input[type='range']::-webkit-slider-thumb {
  width: 0px;
  border: none;
  border-radius: 30px;
  box-shadow: -156px 0 0 156px #8a79df;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  width: 0px;
  border: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  border-radius: 30px;
  background-color: #8a79df;
}

input[type="range"]::-ms-fill-lower {
  border-radius: 30px;
  background-color: #8a79df;
}

.testimonials {
  padding: 0 89px 96px 186px;
}

.logos {
  padding: 0 181px 111px 186px;
}

.subscribe {
  padding: 0 36px 96px 48px;
}

.footer {
  padding: 0 194px 79px 186px;
}
