.header {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 47px 91px 0 148px;
  background-image: url(../images/decore.png);
  background-repeat: no-repeat;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav__logo {
  display: block;
  width: 115px;
}
.top-nav__logo-image {
  width: 100%;
}

.top-nav__menu {
  display: flex;
  align-items: center;
  gap: 68px;
}

.top-nav__menu-list {
  display: flex;
  gap: 60px;
  list-style: none;
}

.top-nav__menu-list-item {
  font-weight: 500;
  font-size: 17px;
}

.top-nav__menu-link {
  color: #212832;
  text-decoration: none;
}

.top-nav__button {
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 9px 21px;
  font-size: 17px;
  background-color: transparent;
}

.top-nav__select {
  border: none;
  background-color: transparent;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 112px 653px 117px 0;
  background-image: url(../images/traveller.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.description__tagline {
  color: #df6951;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.description__heading {
  position: relative;
  color: #181e4b;
  font-family: Volkhov;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -4px;
}

.accent {
  position: absolute;
  top: 69px;
  left: 243px;
  z-index: -1;
  width: 385px;
  height: 12px;
  background-image: url(../images/shadow.svg);
  background-repeat: no-repeat;
}

.description__text {
  max-width: 447px;
  color: #5e6282;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.description__buttons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 379px;
  list-style: none;
}

.description__button-item {
  width: 170px;
}

.description__button {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.description__button_more {
  border: none;
  border-radius: 10px;
  padding: 18px 26px;
  box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.2);
  color: #fff;
  background-color: #f1a501;
}

.description__button_demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.description__button-image {
  width: 52px;
  border-radius: 50%;
  box-shadow: 0 15px 30px 0 rgba(223, 105, 81, 0.2);
}

.services {
  padding: 97px 58px 123px 154px;
}

.subheading {
  color: #5e6282;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.subheading_center {
  text-align: center;
}

.heading {
  color: #14183e;
  font-family: Volkhov, serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
}

.heading_center {
  margin-top: 10px;
  text-align: center;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 167px 1fr 1fr;
  grid-template-areas:
    "service-image service-image service-image service-image"
    "service-heading service-heading service-heading service-heading"
    "service-text service-text service-text service-text";
  margin-top: 65px;
  padding-right: 139px;
  list-style: none;
}

.services__item {
  text-align: center;
}

.services__link {
  text-decoration: none;
}

.services__item-image {
  grid-area: service-image;
  height: 167px;
  background-repeat: no-repeat;
  background-position: center;
}

.services__item-image_weather {
  background-image: url(../images/weather.png);
  background-size: 92px;
}

.services__item-image_flights {
  background-image: url(../images/flights.png);
  background-size: 167px;
}

.services__item-image_events {
  background-image: url(../images/events.png);
  background-size: 67px;
}

.services__item-image_customization {
  background-image: url(../images/customization.png);
  background-size: 77px;
}

.services__item-heading {
  grid-area: service-heading;
  color: #1e1d4c;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.24px;
}

.services__item-text {
  grid-area: service-text;
  color: #5e6282;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.destinations {
  padding: 0 165px 186px 173px;
}

.book-a-trip {
  padding: 0 140px 200px 186px;
}

.testimonials {
  padding: 0 89px 96px 186px;
}

.logos {
  padding: 0 181px 111px 186px;
}

.subscribe {
  padding: 0 36px 96px 48px;
}

.footer {
  padding: 0 194px 79px 186px;
}
